<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/recover-password.css">
    <link rel="stylesheet" href="../CSS/recover-password-responsive.css">
    <link rel="icon" href="/IMG/favicon.ico" type="image/x-icon">
    <title>Restablecer contraseña</title>
</head>
<body>
    <div class="background">
        <div class="panelLogo">
            <img src="../IMG/Logo - Café de Altura.png" alt="Logo" width="190px" id="Logo">
        </div>
        <div class="panelForm">
            <h1 class="title">REESTABLECER CONTRASEÑA</h1>
            <p class="text">
                Se ha enviado el código de verificación al número previamente registrado con su usuario.
                Por favor, ingrese el código en el campo antes de que expire <span class="time">00:00</span>
            </p>
            <form>
                <div class="inputs">
                    <input type="number" class="input" maxlength="1" id="input1" required>
                    <input type="number" class="input" maxlength="1" id="input2" required>
                    <input type="number" class="input" maxlength="1" id="input3" required>
                    <input type="number" class="input" maxlength="1" id="input4" required>
                    <input type="number" class="input" maxlength="1" id="input5" required>
                    <input type="number" class="input" maxlength="1" id="input6" required>
                </div>

                <div class="text">
                    <a class="reenviar" href="#">
                        ¿No has recibido el código de verificación?
                    </a>
                </div>

                <div class="panelButtons">
                    <button type="submit" class="submit">REESTABLECER CONTRASEÑA</button>
                    <button type="button" class="cancel" onclick="window.location.href='../index.html';">CANCELAR</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../js/recover-password.js"></script>
</body>
</html>
