<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="CSS/RegistrarClienteStyle.css">
</head>
<body>
    <h1 class="titulo">Registrar Nuevo Cliente</h1>
    <div class="form-container">
        <form id="form-cliente">
            <div class="input-group">
                <div>
                    <label for="nombre">Ingrese Nombre:</label>
                    <input type="text" id="nombre" required>
                </div>
                <div>
                    <label for="apellido">Ingrese Apellido:</label>
                    <input type="text" id="apellidos" required>
                </div>
                <div>
                    <label for="direccion">Ingrese RUC:</label>
                    <input type="text" id="RUC" required>
                </div>
            </div>
            <div class="input-group">
                <div>
                    <label for="dni">Ingrese Documento:</label>
                    <input type="text" id="Documento" required>
                </div>
                <div>
                    <label for="telefono">Ingrese Teléfono:</label>
                    <input type="text" id="telefono" required>
                </div>
                <div class="form-group">
                    <label for="estado">Seleccione Estado:</label>
                    <div id="estado" class="radio">
                        <label><input type="radio" name="estado" value="activo" required> Activo</label>
                        <label><input type="radio" name="estado" value="inactivo" required> Inactivo</label>
                    </div>
                </div>
            </div>
            <div class="form-cliente">
                <div class="botones">
                    <button type="submit" id="guardar" class="guardar"><b>Guardar</b></button>
                    <button type="reset" class="cancelar"><b>Cancelar</b></button>
                </div>
            </div>
        </form>
    </div>
   <script src="js/Cliente.js"></script>
</body>
</html>