<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Web</title>
    <link rel="stylesheet" href="CSS/RegistrarCategoriaStyle.css">
</head>
<body>
    <form id="form-categoria">
        <h1 class="titulo">Registrar Nueva Categoría</h1>
        <div class="form-container">
            <div class="input-group">
                <label for="Categoría" class="labelcategoria">Ingrese Categoría</label>
                <input type="text" id="descripcion" placeholder="Ingrese una nueva categoría">
            </div>
            <div class="botones">
                <button type="submit" id="guardar" class="guardar"><b>Guardar</b></button>
                <button type="reset" id="cancelar" class="cancelar"><b>Cancelar</b></button>
            </div>
        </div>
    </form>
    <script src="js/registrarcategoria.js"></script>
</body>
</html>