<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Marca</title>
    <link rel="stylesheet" href="CSS/RegistrarMarca.css">
</head>
<body>
    <form id="form-marca">
        <h1 class="titulo">Registrar Nueva Marca</h1>
        <div class="form-container">
            <div class="input-group">
                <label for="Marca" class="labelmarca">Ingrese Marca</label>
                <input type="text" id="nombremarca" placeholder="Ingrese una nueva marca">
            </div>
            <div class="botones">
                <button type="submit" id="guardar" class="guardar"><b>Guardar</b></button>
                <button type="reset" id="cancelar" class="cancelar"><b>Cancelar</b></button>
            </div>
        </div>
    </form>
    <script src="js/registrarmarca.js"></script>
</body>
</html>

