<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/interfazprincipal.css">
    <title>Café de Altura - Reporte</title>
    <link rel="stylesheet" href="/css/ReporteEmpleado.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/IMG/Logo - Café de Altura.png" alt="Café de Altura">
        </div>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Servicios</a>
                    <div class="dropdown-content">
                        <a href="/Venta.html">Facturación</a>
                        <a href="/pages/VistaCompra.html">Adquisición</a>
                        <a href="#">Inventario</a>
                        <a href="/pages/VistaCredito.html">Crédito</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Recursos Humanos</a>
                    <div class="dropdown-content">
                        <a href="pages/RegistrarCliente.html">Clientes</a>
                        <a href="/pages/VistaProveedores.html">Proveedores</a>
                        <a href="RegistrarEmpleado.html">Empleados</a>
                        <a href="registrarmarca.html">Marca</a>
                        <a href="pages/usuarios.html">Usuarios</a>
                        <a href="RegistrarCategoria.html">Categoría</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Ayuda</a>
                    <div class="dropdown-content">
                        <a href="MantenimientoVista.html">Mantenimiento</a>
                        <a href="ReporteVista.html">Reportes</a>
                        <a href="SoporteVista.html">Soporte</a>
                    </div>
                </li>
                <li><a href="#">Acerca de</a></li>     
            </ul>
        </nav>
    </header>

    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="ReporteCategoría.html">Reporte de Categorías</a></li>
                <li><a href="ReporteCliente.html">Reporte de Clientes</a></li>
                <li><a href="ReporteCompra.html">Reporte de Compras de Productos</a></li>
                <li><a href="ReporteCrédito.html">Reporte de Crédito</a></li>
                <li><a href="ReporteEmpleado.html">Reporte de Empleados</a></li>
                <li><a href="ReporteInventario.html">Reporte de Inventario</a></li>
                <li><a href="ReporteMarca.html">Reporte de Marca</a></li>
                <li><a href="ReporteProductos.html">Reporte de Productos</a></li>
                <li><a href="ReporteProveedores.html">Reporte de Proveedores</a></li>
                <li><a href="ReporteUsuarios.html">Reporte de Usuarios</a></li>
                <li><a href="ReporteVenta.html">Reporte de Ventas</a></li>  
            </ul>
        </aside>

        <main class="content">
            <div class="reporte-contenedor">
                <h1>Reporte de Empleados</h1>
                <button id="reportegeneralbtn" class="btn-accion">Ver Reporte General</button>

                <div class="filtro-empleado">
                    <label for="idempleado">ID del Empleado:</label>
                    <input type="text" id="idempleado" placeholder="Ingrese el ID del Empleado">
                    <button id="reporteEmpleadoBtn" class="btn-accion">Ver Reporte Por ID</button>
                    <label for="estadoEmpleado">Estado del Empleado:</label>
                    <input type="text" id="estadoEmpleado" placeholder="Ingrese el estado del Empleado">
                    <button id="reporteEstadoEmBtn" class="btn-accion">Ver Reporte Por Estado</button>
                </div>
                <div class="filtro-empleado">
                    <label for="nombreEmpleado">Nombre del Empleado:</label>
                    <input type="text" id="nombreEmpleado" placeholder="Ingrese el nombre del Empleado">
                    <button id="reporteNombreEmBtn" class="btn-accion">Ver Reporte Por Nombre</button>
                </div>

                <iframe id="visorReporte" class="visor-reporte" src="" frameborder="0"></iframe>
                
            </div>
        </main>
    </div>

    <footer>
        <p>&copy; 2023 - 2024 Café de Altura</p>
    </footer>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const descargarReporteBtn = document.getElementById('descargarreporte');
        const visorReporte = document.getElementById('visorReporte');
        const reporteGeneralBtn = document.getElementById('reportegeneralbtn');
        const reporteEmpleadoBtn = document.getElementById('reporteEmpleadoBtn'); // Botón para buscar por empleado
        const reporteNombreEmpleadoBtn = document.getElementById('reporteNombreEmBtn')
        const empleadoIdInput = document.getElementById('idempleado'); // Campo de ID del empleado
        const empleadoNombreInput = document.getElementById('nombreEmpleado');
        const reporteEstadoEmBtn = document.getElementById('reporteEstadoEmBtn');
        const empleadoEstadoInput = document.getElementById('estadoEmpleado');
        
        const apiBaseUrl = 'https://localhost:5000/api/Reportes/ReportedeEmpleados'; // URL general para reportes de empleados
        const apiEmpleadoUrl = 'https://localhost:5000/api/Reportes/ReporteEmpleado'; // URL para reporte por ID de empleado
        const apiNombreEmpleadoUrl = 'https:localhost:5000/api/Reportes/ReporteEmpleado';
        const apiEstadoEmpleado = 'https:localhost:5000/api/Reportes/ReporteEmpleadoPor';

        function mostrarAlertaCargando(mensaje) {
            Swal.fire({
                title: mensaje,
                text: "Por favor, espera...",
                icon: "info",
                allowOutsideClick: false,
                showConfirmButton: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });
        }

        function cerrarAlerta() {
            Swal.close();
        }

        function visualizarReporteGeneral() {
            mostrarAlertaCargando("Generando reporte general...");
            fetch(apiBaseUrl, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                cerrarAlerta();
                if (!response.ok) {
                    throw new Error('Error al cargar el reporte general');
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                visorReporte.src = url;
            })
            .catch(error => {
                cerrarAlerta();
                console.error('Error:', error);
                Swal.fire('Error', 'Hubo un problema al cargar el reporte general.', 'error');
            });
        }

        function visualizarReportePorEstado(estadoEmpleado) {
            mostrarAlertaCargando("Generando reporte del estado del empleado...");
            fetch(`${apiEstadoEmpleado}/${estadoEmpleado}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                cerrarAlerta();
                if (!response.ok) {
                    throw new Error('Error al cargar el reporte del empleado');
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                visorReporte.src = url;
            })
            .catch(error => {
                cerrarAlerta();
                console.error('Error:', error);
                Swal.fire('Error', 'Hubo un problema al cargar el reporte del empleado.', 'error');
            });
        }

        function visualizarReportePorNombreEmpleado(nombreEmpleado) {
            mostrarAlertaCargando("Generando reporte del empleado...");
            fetch(`${apiNombreEmpleadoUrl}/${nombreEmpleado}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                cerrarAlerta();
                if (!response.ok) {
                    throw new Error('Error al cargar el reporte del empleado');
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                visorReporte.src = url;
            })
            .catch(error => {
                cerrarAlerta();
                console.error('Error:', error);
                Swal.fire('Error', 'Hubo un problema al cargar el reporte del empleado.', 'error');
            });
        }

        function visualizarReportePorEmpleado(empleadoId) {
            mostrarAlertaCargando("Generando reporte del empleado...");
            fetch(`${apiEmpleadoUrl}/${empleadoId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                cerrarAlerta();
                if (!response.ok) {
                    throw new Error('Error al cargar el reporte del empleado');
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                visorReporte.src = url;
            })
            .catch(error => {
                cerrarAlerta();
                console.error('Error:', error);
                Swal.fire('Error', 'Hubo un problema al cargar el reporte del empleado.', 'error');
            });
        }


        // Event Listeners
        reporteGeneralBtn.addEventListener('click', () => {
            visualizarReporteGeneral();
        });

        reporteEmpleadoBtn.addEventListener('click', () => {
            const empleadoId = empleadoIdInput.value.trim();
            if (!empleadoId) {
                Swal.fire('Advertencia', 'Por favor, ingrese un ID de empleado.', 'warning');
                return;
            }
            visualizarReportePorEmpleado(empleadoId);
        });

        reporteNombreEmpleadoBtn.addEventListener('click', () => {
            const nombreEmpleado= empleadoNombreInput.value.trim();
            if (!nombreEmpleado) {
                Swal.fire('Advertencia', 'Por favor, ingrese un nombre de empleado.', 'warning');
                return;
            }
            visualizarReportePorNombreEmpleado(nombreEmpleado);
        });

        reporteEstadoEmBtn.addEventListener('click', () => {
            const estadoEmpleado = empleadoEstadoInput.value.trim();
            if (!estadoEmpleado) {
                Swal.fire('Advertencia', 'Por favor, ingrese un estado de empleado.', 'warning');
                return;
            }
            visualizarReportePorEstado(estadoEmpleado);
        });
    });
    </script>
</body>
</html>
