<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="../css/VistaUsuario.css">
    <link rel="stylesheet" href="../CSS/interfazprincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../IMG/Logo - Café de Altura.png" alt="Café de Altura">
        </div>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Servicios</a>
                    <div class="dropdown-content">
                        <a href="VistaVenta.html">Facturación</a>
                        <a href="VistaCompra.html">Adquisición</a>
                        <a href="../InventarioVista.html">Inventario</a>
                        <a href="VistaCredito.html">Crédito</a>
                        <a href="../RegistrarCategoria.html">Categoría</a>
                        <a href="../registrarmarca.html">Marca</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Recursos Humanos</a>
                    <div class="dropdown-content">
                        <a href="VistaCliente.html">Clientes</a>
                        <a href="VistaProveedores.html">Proveedores</a>
                        <a href="VistaEmpleado.html">Empleados</a>
                        <a href="VistaUsuario.html">Usuarios</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Ayuda</a>
                    <div class="dropdown-content">
                        <a href="../MantenimientoVista.html">Mantenimiento</a>
                        <a href="../ReporteVista.html">Reportes</a>
                        <a href="../SoporteVista.html">Soporte</a>
                    </div>
                </li>
                <li><a href="#">Acerca de</a></li>     
            </ul>
        </nav>
    </header>
    <main>
        <img src="../IMG/Background.jpeg" alt="fondo" class="fondo">
        <div class="background">
            <div class="listado">
                <form class="form-listado">
                    <div>
                        <h1>GESTIÓN DE USUARIOS</h1>
                    </div>

                    <div class="search-section">
                        <div class="search-criterio">
                            <div class="container-criterio">
                                <label>Criterio de Búsqueda:</label>
                                <div class="container-radio">
                                    <label><input type="radio" name="search" value="usuario"> Usuario</label>
                                    <label><input type="radio" name="search" value="acceso"> Acceso</label>
                                </div>
                            </div>
                            <div class="search-container">
                                <input type="text" class="search-box" placeholder="Ingrese el criterio de búsqueda">
                                <i class="fas fa-times clear-icon" style="display: none;"></i>
                                <button class="btn buscar" type="button">Buscar</button>
                            </div>
                        </div>                                            
                    </div>

                    <div class="listado-usuarios">
                        <div class="listado-content">
                            <table class="tabla-usuarios">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Pass</th>
                                        <th>Acceso</th>
                                        <th>Estado</th>
                                        <th>Empleado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaUsuarios">
                                    <!-- Aquí se mostrarán los usuarios -->
                                </tbody>
                            </table>
                        </div>
                    </div>    

                    <div class="options-section">
                        <button class="btn-nuevo" type="button">Nuevo</button>
                    </div>
                </form>
            </div>
            <div class="registro">
                <h1 class="titulo">Registrar Nuevo Usuario</h1>
                <div class="form-registro">
                    <form id="form-usuario">
                        <div class="input-field">
                            <label for="usuario">Ingrese Nombre de Usuario:</label>
                            <input type="text" id="usuario" required>
                        </div>
                        <div class="input-field">
                            <label for="pass">Ingrese Contraseña:</label>
                            <input type="password" id="pass" required>
                        </div>
                        <div class="input-field">
                            <label for="acceso">Acceso:</label>
                            <select id="acceso" required>
                                <option value="admin">Administrador</option>
                                <option value="usuario">Usuario</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="estado">Seleccione Estado:</label>
                            <div id="estado" class="radio">
                                <label><input type="radio" name="estado" value="activo" required> Activo</label>
                                <label><input type="radio" name="estado" value="inactivo" required> Inactivo</label>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="idempleado">Empleado Asociado:</label>
                            <input type="number" id="idempleado" required>
                        </div>
                    </form>
                </div>
                <div class="botones">
                    <button type="submit" id="guardar" class="button"><b>Guardar</b></button>
                    <button type="reset" class="button" id="cancelarBtn"><b>Cancelar</b></button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 - 2024 Café de Altura</p>
    </footer>
<script src="../js/Usuario.js"></script>
</body>
</html>
