* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #00bf63;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #f0f0f0;
    text-align: center;
}

.container-radio {
    border: 5px solid #00bf63;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    display: inline-block;
}

@media (max-width: 768px) {
    .container-radio {
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
    }
}

@media (max-width: 480px) {
    .container-radio {
        padding-left: 10%; 
        padding-right: 10%;
        padding-top: 3%;
        border-width: 3px; 
    }
}

.container-criterio {
    flex-direction: column;
}

header {
    position: relative;
}

h1 {
    color: black;
    font-size: 2em;
}

.employees-text {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2em;
    color: black;
}

.search-section {
    margin-top: 20px;
}

.search-criteria {
    background-color: #b78e6b;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-criteria label {
    margin-right: 10px;
    font-weight: bold;
}

.search-box {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: 3px solid white;
    background-color: #00c2ff;
    cursor: pointer;
    margin: 5px;
}

.buscar {
    background-color: #00c2ff;
}

.salir {
    background-color: #ff3d3d;
}

.results {
    background-color: #b78e6b;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

.options-section {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1%
}

.options-section .nuevo {
    background-color: #2b832e;
}

.options-section .editar {
    background-color: #ff9d00;
}

.options-section .anular {
    background-color: #ff3d3d;
}

@media (max-width: 768px) {
    .container {
        width: 90%; 
    }

    .search-box {
        width: 60%; 
    }

    .btn {
        font-size: 0.9em; 
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .search-box {
        width: 80%; 
    }

    .btn {
        font-size: 0.8em; 
        padding: 6px 12px;
    }

    .productos-text {
        font-size: 1em;
    }

    .search-criteria {
        flex-direction: column;
        align-items: flex-start;
    }

    .options-section {
        flex-direction: column;
        align-items: center;
    }
}