@media (max-width: 768px) {
    .background {
      width: 80%; 
      height: auto;
      flex-direction: column; 
    } 
    .panelLogo {
      width: 100%;
      height: 150px; 
      border-radius: 0; 
    }

    .logo {
        height: 100px;
    }
  
    .panelForm {
      width: 100%;
      height: 600px;
      padding: 40px; 
      display: block;
    }
  
    input[type="text"], input[type="password"] {
      width: 120%; 
      margin-left: 1vh;
      justify-content: center;
      gap: 5px;
    }

    .panelInputs {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 30px;
      margin-bottom: 10px;
  }
  
    button {
      width:100%;
      margin-left: 1vh; 
    }
  }