* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    width: 780px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
  }

.panelLogo {
    flex: 1;
    width: 380px;
    background-color: #2E8B57;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #Logo {
    justify-content: center;
    align-items: center;
    display: flex;
  }  

  .panelForm {
    flex: 2;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.title {
    color: white;
    font-family: 'Century Gothic';
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px; 
}

.text {
    color: white;
    font-family: 'Century Gothic';
    font-size: 14px; 
    text-align: center;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-bottom: 20px; 
}

.inputs .input {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 20px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus{
    border: 2px solid #2E8B57;
  }

.panelButtons {
    display: flex;
    justify-content: space-between;
    gap: 1px; 
    width: 100%;
    min-width: 140%;
    margin-left: -60px;
}

button {
    background-color: dimgray;
    color: white;
    font-family: 'Century Gothic';
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    border: none;
    width: 48%; 
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #616161;
}

button:active {
    background-color: #246b45;
}

.time {
    color: #2E8B57;
    font-weight: bold;
}
