* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 8px; /* Aumenté el padding */
    margin: 0;
    background: linear-gradient(180deg, rgba(206,140,30,1) 0%, rgba(176,113,22,1) 51%, rgb(150, 91, 14) 100%);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 85%; /* Aumenté el ancho */
    max-width: 1150px; /* Aumenté el max-width */
}

.formulario {
    background-color: white;
    padding: 12px; /* Aumenté el padding */
    border-radius: 18px; /* Aumenté el border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 12px; /* Aumenté el margin-bottom */
}

.izquierda {
    width: 55%; /* Aumenté el ancho */
    display: flex;
    flex-direction: column;
}

.derecha {
    width: 40%; /* Aumenté el ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detalles {
    flex-grow: 1;
}

.total {
    margin-top: 12px; /* Aumenté el margin-top */
}

h2 {
    color: #381f07;
    font-size: 20px; /* Aumenté el font-size */
    margin-bottom: 12px; /* Aumenté el margin-bottom */
}

form {
    width: 100%;
}

label {
    display: block;
    margin-top: 7px; /* Aumenté el margin-top */
    font-size: 11px; /* Aumenté el font-size */
    color: #381f07;
}

.input-group {
    display: flex;
    gap: 7px; /* Aumenté el gap */
}

.input-group1 {
    display: flex;
    gap: 7px; 
    width: 94%;
}

.input-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-field2 {
    flex: 1;
    flex-direction: column;
    margin-top: 29px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 90%;
    height: 32px; /* Aumenté el height */
    margin-top: 3px; /* Aumenté el margin-top */
    margin-bottom: 6px; /* Aumenté el margin-bottom */
    border: none;
    outline: none;
    border-radius: 18px; /* Aumenté el border-radius */
    padding: 0 9px; /* Aumenté el padding */
    background: rgba(153, 145, 145, 0.322);
    color: #381f07;
}

input[readonly] {
    background: rgba(153, 145, 145, 0.322);
}

.botones {
    display: flex;
    justify-content: flex-end;
    gap: 7px; /* Aumenté el gap */
    margin-top: 12px; /* Aumenté el margin-top */
}

button {
    border: none;
    border-radius: 18px; /* Aumenté el border-radius */
    font-size: 11px; /* Aumenté el font-size */
    padding: 7px 12px; /* Aumenté el padding */
    background: #381f07;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5d3200;
}

table {
    font-size: 13px;
    width: 100%;
    margin-top: 12px; /* Aumenté el margin-top */
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 7px; /* Aumenté el padding */
    text-align: left;
}

table th {
    background-color: #6b3d11;
    color: white;
}